@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #4f46e5;
  --color-primary-light: #818cf8;
  --color-primary-dark: #312e81;
  --color-accent: #f59e0b;

  /* Semantic Map */
  --color-surface: #ffffff;
  --color-background: #f8fafc;
}

/* Reset basics */
body {
  background-color: var(--color-background);
  color: #0f172a;
  /* Slate 900 based on design system */
  font-family: system-ui, -apple-system, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
}